@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Concert+One&family=Luckiest+Guy&display=swap');
html, body {
    margin: 0;
}
#pagebackground {
    background: url("agua.png");
    height: 100%;
    text-align: center;
    background-size: cover;
}
header {
    background-color:rgb(35, 68, 42);
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#logo {
    width: 130px;
    position: absolute;
    top: 8px;
    margin-left: 2%;
}
#action {
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Open Sans', Arial, sans-serif;
    list-style: none;
}
#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 25px;
}
li {
    float: left;
    padding: 20 20 20 20;
}
li:hover {
    background-color: darkgray;
}
section {
    padding: 20px;
    float: left;
}
#title {
    color: white;
    padding-top: 18%;
    font-size: 140px;
    line-height: 0.9;
    font-family: 'Chelsea Market', cursive;
    font-family: 'Concert One', cursive;
}
#subtitle {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid white;
    text-shadow: 1px 1px  black;
    font-family: 'Open Sans', Arial, sans-serif;
}
.justified {
    text-align: justify;
}
.center {
    text-align: center;
}
.paragraph{
    font-size: 18px;
    font-family:  'Open Sans', Arial, sans-serif;
}
.paragraph2 {
    font-size: 17px;
    font-family:  'Open Sans', Arial, sans-serif;
    ;
}
.ultimo {
    color: mintcream;
}
.titulos {
    font-size: 30px;
    font-family:  'Open Sans', Arial, sans-serif;
}
.testzin {
    margin-top: 45px;
}
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.colunaquatro {
    float: left;
    padding: 0 5%;
    position: relative;
    width: 15%;
}
.destaque {
    background-color: rgb(232, 241, 232);
}
.icon {
    width: 200px;
    padding-left: 40px;
}
.image {
    width: 100%;
    height: 40%;
    margin-top: 20px;
}
.secondimage {
    width: 100%;
    height: 45%;
}
.eu {
    padding-left: 180px;
    height: 40%;
    width: 52%;
}
footer {
    background-color: rgb(72, 75, 56);
    float: left;
    width: 100%;
    height: 30%;
    color: white;
}
@media (max-width: 600px) {

    .icon, .colunaquatro, .coluna, .pagebackground, #logodiv, #menu {
        width: 100%;
    }
    
}
